/*BUTTONS *
-----------------------------------------------*/

a {
  color: $black;
  text-decoration: none;
  outline: 0;
}

.btn, button {
  border-width: .17rem;
  border-radius: .2rem;
  border: none;
  font-size: .85rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  @media only screen and (min-width: #{map-get($grid-breakpoints, md)}) {
    padding: 1 ($spacer * 1.5);
  }
  &:hover {
    color: $white;
  }

  &:first-child {
    margin-left: 0;
  }

  &.btn-ghost.btn-white {
    border: .17rem solid #f;
    background-color: transparent;
    color: #FFF;
  }

  &-disabled {
    opacity: .6;
    color: #FFF;
    box-shadow: 0 0 0 0;
    cursor: default;
    &:hover {
    }
  }

  &-ghost {
    border: 2px solid $primary;
    color: $primary;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  &:focus {
    outline: none;
  }
  &.btn-secondary {
    background: #FFF;
    color: $brand-primary;
    &--inverse {
      color: #FFF;
      background: $brand-primary;
    }
  }
  &.light-gray {
    color: #939291;
    background: #EDEDED;
  }
  &.btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    background: $brand-secondary;
    color: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    transition: box-shadow .2s, background-color .3s;
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, .25), inset 0 0 3px rgba(0, 0, 0, 0.1);
      background-color: lighten($brand-secondary, 3%);
    }
    .fa, .icon, i {
      position: relative;
      margin-left: 2px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
      color: rgba(0, 0, 0, .3);
    }
  }
  &-inline-form {
    height: 45px;
    padding: 0 30px;
    line-height: 45px;
  }

  &-light-gray {
    color: $neutral-60;
    background: $neutral-20;
    &:hover {
      color: $neutral-60;
      background: $neutral-30;
    }
  }

  &-light-blue {
    color: $white;
    background-color: $light-blue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    transition: box-shadow .2s, background-color .3s;
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, .25), inset 0 0 3px rgba(0, 0, 0, 0.1);
      background-color: lighten($light-blue, 3%);
    }
  }

  &.btn-delete {
    background: $brand-danger;
    color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, .25), inset 0 0 3px rgba(0, 0, 0, 0.1);
      background: lighten($brand-danger, 3%);
    }
  }
  &.btn-disabled {
    box-shadow: 0 0 0 0 !important;
    cursor: default;
    pointer-events: none;
  }
  &.btn-lg {
    padding: 1.25rem 1.5rem;
    font-size: .928rem;
  }
  &.btn-sm {
    padding: .5rem 1rem;
  }
  &.btn-with-icon {
    padding-left: 5rem;
    text-align: right;
    &.btn-icon-cart {
      @extend %icon-cart;
      background-position: 1rem center;
      width: 100%;
      @media only screen and (min-width: #{map-get($grid-breakpoints, sm)}) {
        width: auto;
      }
    }
  }
  &-outline {
    background: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid $light-blue;
    color: $light-blue;
    border-radius: 2px;
  }
}

.more-button {
  background: white;
  background-color: white;
  color: $light-blue;
  border-radius: 20px;
  width: 146px;
  height: 33px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05), 0 0 30px 0 #FFFFFF;
  line-height: 14px;
  margin: 0 auto;
  display: block;
  @media only screen and (min-width: #{map-get($grid-breakpoints, md)}) {
    line-height: 8px;
  }
}

.btn-group {
  margin: 0 0 2rem 0;
}

.link {
  @extend .h6;
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  margin: 1rem 0;
  color: $white;
  text-decoration: none;
  transition: .1s ease-out;
  &:hover {
    color: lighten($white, 20%);
    padding-bottom: 8px;
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $white;
    content: "";
  }

  &--gray {
    color: $gray-lighter;
    opacity: .8;
    &:after {
      background: $gray-lighter;
      opacity: .8;
    }
    &:hover {
      opacity: 1;
      &:after {
        opacity: 1;
      }
    }
  }
}
